<div *ngIf='month!=null'>
  <div class='card shadow'>
    <div class='m10'>
      
      <!--   Selector -->
      <p class='data-large'>{{ 'ECEACTIVITY.month' | translate}}</p>
      <div style='flex-wrap: wrap' class='horizontal-flexbox'>
        <div (click)='month_onchange(m.value)' *ngFor='let m of active_month_list' [ngClass]='(m.selected)?"selected-chip":"unselected-chip"'>
          <p class='data'>{{m.name}}</p>
        </div>
      </div>
  
      <div [ngClass]='(selected_month=="")?"hidden":"expanded"'>
        <div class='hbar'></div>
        <!-- Week Selector -->
        <p class='data-large'>{{ 'ECEACTIVITY.week' | translate}}</p>
        <div style='flex-wrap: wrap' class='horizontal-flexbox'>
          <div (click)='week_onchange(m.value)' *ngFor='let m of week_list' [ngClass]='(m.value===selected_week)?"selected-chip":"unselected-chip"'>
            <p class='data'>{{m.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>