:host {
    // ion-content {
    //     --background: var(--ion-color-light);
    // }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    .card-content-md {
        padding-left: 0px; 
        padding-right: 0px; 
        padding-top: 0px; 
        padding-bottom: 0px; 
        font-size: 0px; 
        line-height: 0; 
    }
}

.text10{
    font-size: 10px;
    font-family: monospace;
}

.button-bg{
    background-color: #381dd8;
}

.card_padding20{
    padding: 20px;
}
.span_text{
    font-family: inherit;
}
.span_text9{
    font-size: 9px;
}
.span_text40{
    font-size: 40px;
}

.center-aligned {
    text-align: center;
}

.ion-col-style{
    text-align: center;
    border: 1px solid #a4a4a4;
    background-color: #e4e7fd;
    margin: 3px;
    box-shadow: 0px 1px 1px 0px;
}

.color_feedback{
    color: green;
}

.color_pic{
    color: #c88f36;
}

.color_location{
    color: #002080;
}
.color_payment{
    color: #800069;
}
.color_assessment{
    color: #007f80;
}
.color_comvisit{
    color: #925901;
}
.color_issues{
    color: #eb0707;
}

.btn-margin{
    margin-left: 34%;
}

.card-margin{
    margin: 20px;
}
.radio-margin{
    margin-left: -15px;
}

.explore-div{
    background-color: #f3f3f3;
}
.explore-btn{
    margin-right: 23px;
}

.select-width{
    max-width: 100%;
}

.shadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.014), 0 6px 6px rgba(0,0,0,0.21);
}

.show-data {
    transition: max-height 1.0s;
    max-height: 800px;
}

.hide-data {
    transition: max-height 0.6s;
    max-height: 0px;
    overflow: hidden;
}

@keyframes spin-down{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
@keyframes spin-up{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.rotate-down {
    animation: spin-down 0.4s;
    animation-fill-mode: forwards;
}

.rotate-up {
    animation: spin-up 0.4s;
    animation-fill-mode: forwards;
}

.horizontal-flexbox {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.vertical-flexbox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@keyframes white-to-blue {
    0% {
        background: white;
        color: #2196f3;
    }
    100% {
        background: #2196f3;
        color: white;
    }
}
.selected-chip {
    margin: 10px;
    animation: white-to-blue 0.6s;
    animation-fill-mode: forwards;
    border-radius: 20px;
    text-align: center;
    color: white;
    background: #2196f3;
    min-width: 40px;
    height: 40px;
    text-align: center;
}
.selected-chip p, .unselected-chip p{
    margin: 0px;
    margin-bottom: 3px;
    font-size: 1.3rem;
}

@keyframes blue-to-white {
    0% {
        color: white;
        background: #2196f3;
    }
    100% {
        color: #2196f3;
        background: white;
    }
}
.unselected-chip {
    margin: 10px;
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 20px;
    text-align: center;
    color: #2196f3;
    border: 1px #2196f3 solid;
    min-width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
}

.set-level-text{
    margin-top: 0px;
}