<ion-header  no-border [ngClass]="(toolbarshadow)?'':'shadow'">
  <ion-toolbar class='material-toolbar'>
    <ion-row>
        <ion-title class='page-title-absolute'><p>My Messages</p></ion-title>
        <ion-back-button></ion-back-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <ion-list class="item-text-wrap">
        <ion-item *ngFor = "let res of respons; let i=index;" (click)="openMessage(res)">
          <ion-item *ngIf="res.status == 'unread'" class="unread-message">
            <ion-icon slot="start" name="mail"></ion-icon>{{ res.title }}
          </ion-item>
          <ion-item *ngIf="res.status == 'read'" class="read-message">
              <ion-icon slot="start" name="mail-open"></ion-icon>{{ res.title }}
            </ion-item>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
