<ion-content> 
  <div *ngIf='records!=null && records.length>0'>
    <div class='data-card shadow gray-bg text-start'>
      <p class='data-large white'>Name: {{records[0].studentname}}</p>
      <p class='data white'>Program: {{records[0].program}}</p>
      <p class='data white'>Class: {{records[0].class}}</p>
      <p class='data white'>Registration Date: {{getReadableDate(records[0].registration_date)}}</p>
    </div>
    <div *ngFor='let r of records;let i=index' class='data-card shadow' style='color: gray'>
      Payment #{{i+1}}
      <div class='hbar'></div>
      <p class='data-large'><b>₹<span class='data-large'>{{r.amount}}</span></b></p>
      <p class='data'>Payment date: {{r.displaydate}}</p>
      <p class='data'>Payment type: {{(r.payment_type==null)?'n/a':r.payment_type}}</p>
    </div>
  </div>
  <p *ngIf='records!=null && records.length==0' class='text-center red'>{{errormessage}}</p>
  <div (click)="closeModal()" class='close-button shadow'>
    <p class='white data text-center'>OKAY</p>
  </div>
  <!-- <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>Payment Records</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let record of records; let i = index;">
            <ion-label class="listitems">
              <p *ngIf="i==0">Name: <span class="rbspan">{{ record.studentname }}</span></p>
              <p *ngIf="i==0">Mode: <span class="rspan">{{ record.payment_type }}</span></p>
              <hr>
              <p> Paid: <span class="rspan">Rs. {{ record.amount }} /-</span></p>
              <p> Date: <span class="rspan">{{ record.createdon  | date: 'dd-MM-yyyy' }}</span></p>
            </ion-label>
          </ion-item>
        </ion-list>
    </ion-card-content>

    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="medium" (click)="closeModal()">
              <ion-icon slot="start" name="close"></ion-icon> Cancel
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  </ion-card> -->
</ion-content>