<ion-content> 
  <div *ngIf='records!=null && records.length>0'>
    <div class='data-card shadow' style='margin-bottom: 20px;color:white; background: gray'>
      <p style='font-size: 1.4rem'>Name: {{records[0].studentname}}</p>
      <p style='margin-bottom: 0px'>Program: {{records[0].program}}</p>
      <p style='margin-top: 0px'>Class: {{records[0].class}}</p>
    </div>
    <div *ngFor='let r of records;let i=index' class='data-card shadow' style='color: gray'>
      Payment #{{i+1}}
      <div style='width: 100%;background: #BDBDBD;margin-top: 5px;min-width: 100%;min-height: 1px'></div>
      <p style='font-size: 1.6rem'><b>₹{{r.amount}}</b></p>
      <p style='margin-bottom: 0px'>Payment date: {{r.displaydate}}</p>
      <p style='margin-top: 0px'>Remark: {{r.remark}}</p>
    </div>
  </div>
  <p *ngIf='records!=null && records.length==0' style='text-align: center;color: #ef5350'>{{errormessage}}</p>
  <div style='margin: 10px;overflow: auto;background: #2196f3;border-radius: 4px;color: white' class='shadow'>
    <p (click)="closeModal()" style='text-align: center'>OKAY</p>
  </div>
  <!-- <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>Payment Records</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let record of records; let i = index;">
            <ion-label class="listitems">
              <p *ngIf="i==0">Name: <span class="rbspan">{{ record.studentname }}</span></p>
              <p *ngIf="i==0">Mode: <span class="rspan">{{ record.payment_type }}</span></p>
              <hr>
              <p> Paid: <span class="rspan">Rs. {{ record.amount }} /-</span></p>
              <p> Date: <span class="rspan">{{ record.createdon  | date: 'dd-MM-yyyy' }}</span></p>
            </ion-label>
          </ion-item>
        </ion-list>
    </ion-card-content>

    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="medium" (click)="closeModal()">
              <ion-icon slot="start" name="close"></ion-icon> Cancel
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  </ion-card> -->
</ion-content>