  <ion-header  no-border [ngClass]="(toolbarshadow)?'':'shadow'">
    <ion-toolbar class="material-toolbar">
      <ion-row>
          <ion-title class="page-title-absolute"><p>My Profile Details</p></ion-title>
          <ion-back-button></ion-back-button>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class='shadow card'>
      <p class='data-large color gray m10'>{{username}}</p>
      <div class='hbar'></div>
      <div class='chip solid m10'>
        <p class='data white'>{{usertype}}</p>
      </div>
    </div>
    <div class='shadow card'>
      <p class='data-large m10'>Personal Details:</p>
      <div class='hbar'></div>
      <div class='hfse m10'>
        <div class='m10 horizontal-flexbox chip outline'>
          <ion-icon class='primary' [name]='gender' style='margin: 5px'></ion-icon>
          <p class='data'>{{gender}}</p>
        </div>
        <div class='m10 horizontal-flexbox chip outline'>
          <ion-icon class='primary' name='snow' style='margin: 5px'></ion-icon>
          <p class='data'>{{bdate}} {{bmonth}}, {{byear}}</p>
        </div>
      </div>
      <div class='horizontal-flexbox data-large'>
        <ion-icon class='m10 data-large green' name='call'></ion-icon>
        <p class='data'>{{contactno}}</p>
      </div>
      <div class='horizontal-flexbox' style='margin-bottom: 15px;'>
        <ion-icon class='m10 data-large red' name='pin'></ion-icon>
        <p class='data'>{{address}}</p>
      </div>
    </div>

    <div class='shadow card'>
        <p class='m10 data-large'>Additional Details:</p>
        <div class='hbar'></div>
        <div class='horizontal-flexbox data-large'>
          <ion-icon class='m10 red data-large' name='mail'></ion-icon>
          <p class='data'>Email: {{emailid}}</p>
        </div>
        <div class='horizontal-flexbox'>
          <ion-icon class='m10 blue data-large' name='person'></ion-icon>
          <p class='data'>Username: {{userid}}</p>
        </div>
        <div class='horizontal-flexbox data-large'>
          <ion-icon class='m10' style="color: #ff9800;" name='calendar'></ion-icon>
          <p class='data'>Date of reg: {{rdate}} {{rmonth}},{{ryear}}</p>
        </div>
      </div>
    <!-- <div (click)='back()' class='card solid shadow'>
      <p>Back</p>
    </div> -->
  </ion-content>