@keyframes white-to-blue {
    0% {
        background: white;
        color: #2196f3;
    }
    100% {
        background: #2196f3;
        color: white;
    }
}
.selected-chip {
    animation: white-to-blue 0.6s;
    animation-fill-mode: forwards;
    border-radius: 20px;
    text-align: center;
    color: white;
    background: #2196f3;
    min-width: 80px;
    min-height: 20px;
    margin: 10px;
    p {
        color: white;
    }
}

@keyframes blue-to-white {
    0% {
        color: white;
        background: #2196f3;
    }
    100% {
        color: #2196f3;
        background: white;
    }
}
.unselected-chip {
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 20px;
    text-align: center;
    color: #2196f3;
    border: 1px #2196f3 solid;
    min-width: 80px;
    min-height: 20px;
    margin: 10px;
    p {
        color: #2196f3;
    }
}

.selected-chip p, .unselected-chip p{
    margin: 10px;
}

.card{
    margin: 20px;
    padding: 20px;
    border-radius: 0px;
    color: gray;
}

.marks-button{
    color: white;
    border-radius: 0px;
    margin: 10px;
    padding: 1px 20px;
    min-width: 100px;
    text-align: center;
}

.green{
    background: #4caf50;
}

.orange{
    background: #ff9800;
}

.card {
    padding: 30px;margin: 20px;color: gray;border-radius: 0px
}

.hbar {
    min-height: 1px;background: gray;width: 100%
}