<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">
            {{ 'EXPLORE.title' | translate }}
          </ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  <ion-card class="">
    <div class="card-margin">
      <ion-list>
        <ion-item *ngFor="let student of student_list">
          <!-- Student of ECE -->
          <ion-label *ngIf="student.program == 'ece'">
            {{ 'EXPLORE.student_name' | translate }}: {{ student.studentname }} 
            <p>{{ 'EXPLORE.guardian' | translate }}: {{ student.parentsname }} </p>
            <p>{{ 'EXPLORE.program' | translate }}: {{ student.program }}: Anganwadi </p>
            <ion-item  no-lines>
              <p *ngIf="student.ec_level != null"> {{ 'EXPLORE.level_ece' | translate }}: {{ student.ec_level }} </p>
              <p *ngIf="student.ec_level == null">
                <ion-select placeholder="Set level" (ionChange)="setlevel_ec_onchange($event.detail.value)" class="select-width">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                </ion-select>
                <ion-button icon-left size="medium" expand="full" color="primary" (click)="openModal('',student)" [disabled]="" tappable>
                  {{ 'EXPLORE.level_ece' | translate }} 
                  <!-- <ion-icon name="send"></ion-icon> -->
                </ion-button>
              </p>
            </ion-item>
          </ion-label>
          

          <!-- Student of PGE -->
          <ion-label *ngIf="student.program == 'pge'">
            {{ 'EXPLORE.student_name' | translate }}: {{ student.studentname }} 
            <p>{{ 'EXPLORE.guardian' | translate }}:  {{ student.parentsname }} </p>
            <p>{{ 'EXPLORE.program' | translate }}: {{ student.program }} : {{ student.class }}</p>
            <ion-item  no-lines>
              <p *ngIf="student.math_level != null">  {{ 'EXPLORE.level_math' | translate }}: {{ student.math_level }} </p>
              <p *ngIf="student.math_level == null">
                <ion-select placeholder="Set level" (ionChange)="setlevel_pg_math_onchange($event.detail.value)" class="select-width">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                </ion-select>
                <ion-button icon-left size="medium" expand="full" color="primary" (click)="openModal('math',student)" [disabled]="" tappable>
                  {{ 'EXPLORE.level_math' | translate }}
                  <!-- <ion-icon name="send"></ion-icon> -->
                </ion-button>
              </p>
            </ion-item>
            <ion-item  no-lines>
              <p *ngIf="student.eng_level != null"> {{ 'EXPLORE.level_eng' | translate }}: {{ student.eng_level }} </p>
              <p *ngIf="student.eng_level == null"> 
                <ion-select placeholder="Set level" (ionChange)="setlevel_pg_eng_onchange($event.detail.value)" class="select-width">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                </ion-select>
                <ion-button icon-left size="medium" expand="block" color="primary" (click)="openModal('english',student)" [disabled]="" tappable>
                  {{ 'EXPLORE.level_eng' | translate }} 
                  <!-- <ion-icon name="send"></ion-icon> -->
                </ion-button>
              </p>
            </ion-item>
            <!-- Odia -->
            <ion-item  no-lines>
              <p *ngIf="student.odia_level != null"> {{ 'EXPLORE.level_odia' | translate }}: {{ student.odia_level }} </p>
              <p *ngIf="student.odia_level == null">
                <ion-select placeholder="Set level" (ionChange)="setlevel_pg_odia_onchange($event.detail.value)" class="select-width">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                </ion-select>
                <ion-button icon-left size="medium" expand="full" color="primary" (click)="openModal('odia',student)" [disabled]="" tappable>
                  {{ 'EXPLORE.level_odia' | translate }}
                  <!-- <ion-icon name="send"></ion-icon> -->
                </ion-button>
              </p>
            </ion-item> 

          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>
  
</ion-content>
  