<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">
            Student Details
          </ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  <ion-card class="">
    <div class="card-margin">
      <ion-list>
        <ion-item *ngFor="let student of student_list">
          <ion-label>
            {{ student.studentname }} 
            <p> {{ student.parentsname }} </p>
            <p> {{ student.program }} : {{ student.class }}</p>
            <p *ngIf="student.level != null"> {{ student.level }} </p>
            <p *ngIf="student.level == null">
              <span *ngIf="student.program == 'ece'">
                  <ion-button icon-left size="medium" expand="full" color="warning" (click)="openModal('',student)" [disabled]="" tappable>
                    Set Level  
                    <ion-icon name="send"></ion-icon>
                  </ion-button>
              </span>
              <span *ngIf="student.program == 'pge'">
                  <ion-button icon-left size="medium" expand="full" color="warning" (click)="openModal('math',student)" [disabled]="" tappable>
                    Set Level(Math.)  
                    <ion-icon name="send"></ion-icon>
                  </ion-button>
                  <ion-button icon-left size="medium" expand="full" color="warning" (click)="openModal('english',student)" [disabled]="" tappable>
                    Set Level(Eng.)   
                    <ion-icon name="send"></ion-icon>
                  </ion-button>
              </span>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>
  
</ion-content>
  