<ion-header  no-border [ngClass]="(toolbarshadow)?'':'shadow'">
  <ion-toolbar class='material-toolbar'>
    <ion-row>
        <ion-title class="page-title-absolute">
          <p>{{page_title}}</p>
        </ion-title>
        <ion-back-button></ion-back-button>
    </ion-row>
  </ion-toolbar>
</ion-header>
     
<ion-content scrollY='false' [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div *ngFor='let vid of doc_path_list;let i = index'
        style='border-radius: 100px;margin: 20px; overflow: auto;justify-content: flex-start'
        class='shadow'
        (click)='play_video(vid)'>
          <div class='horizontal-flexbox' style='justify-content: space-between'>
            <div class='horizontal-flexbox' style='justify-content: flex-start'>
              <div style='margin: 10px;height: 40px;width: 40px;border-radius: 50%;background: #64B5F6' class='horizontal-flexbox'>
                <ion-icon [name]='icon' style="color: white"></ion-icon>
              </div>
              <p style='margin-left: 20px;color: gray'>{{type}} {{i+1}}</p>
            </div>
            <div *ngIf='vid.played' style='margin: 10px;height: 30px;width: 30px;border-radius: 50%;background: #66BB6A' class='horizontal-flexbox'>
              <ion-icon name='checkmark' style="color: white"></ion-icon>
            </div>
          </div>
        
  </div>
</ion-content>