<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-card class="bg-white">
    <div text-center padding>
      <img src="assets/img/bg1.png">
    </div>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>ThinkZone India.</strong></ion-text>
      </h1>
      
      <p margin-bottom>
          ThinkZone is an award winning social impact startup that enables women entrepreneurs to drive technology-based learning in low-income communities. ThinkZone implements a comprehensive, scale-driven lean model through its ‘school-in-a-box’ solution to deliver quality early childhood and primary-level education programs at less than a dollar a month per child.
      </p>
      <p>
          ThinkZone uses offline technology, proprietary teaching activities and class management tools while following the Teaching-at-the-Right-Level approach(an MIT evidence-based pedagogy) to improve learning levels of children. Through providing low-income women with training and income-generating opportunities, ThinkZone also contributes to greater gender equality.
      </p>
      <p>    
          This is probably the very few times in India where a technology-based pedagogy is built for first generation learners and for teachers who come from limited education background.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
