<ion-content fullscreen="full" class="animated fadeIn">
  <ion-grid>
    <ion-row>
      <ion-col>
          <img src="/assets/img/bg0.jpg" alt="" class="bg" />
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Logo -->
  <!-- <ion-grid>
      <ion-row>
        <ion-col><div class="logo-round"></div></ion-col>
        <ion-col><div class="app-title"></div></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid> -->
</ion-content>
<ion-footer>
  <ion-button expand="full" class="login-button" color="warning" (click)="openModal()" no-margin>
    <ion-icon name="log-in"></ion-icon>
    Sign In
  </ion-button>
</ion-footer>