<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">
            ACTIVITY (ECE)
          </ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  <ion-grid>
     <!-- Select Month -->
    <ion-row>
      <ion-item class="full_width">
        <ion-label>Month</ion-label>
        <ion-select placeholder="Select One" (ionChange)="month_onchange($event.detail.value)">
          <ion-select-option *ngFor="let qlist of month_list" [value]="qlist.value" [disabled]="qlist.disabled">{{ qlist.text }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>

     <!-- Select Week -->
    <ion-row>
      <ion-item class="full_width">
        <ion-label>Week</ion-label>
        <ion-select placeholder="Select One" (ionChange)="month_onchange($event.detail.value)">
          <ion-select-option *ngFor="let qlist of month_list" [value]="qlist.value" [disabled]="qlist.disabled">{{ qlist.text }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="contacts"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

    <!-- <ion-card class="">
      <ion-list>
        <ion-item *ngFor="let slist of student_list;" class="ionitem">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{ slist.studentname }} <p> {{ slist.program }}</p></ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="right-align">
              <ion-button icon-left size="medium" color="warning" (click)="pge_fillmarks_btnclick(slist,'eng')" [disabled]="disable_fillmarks_button" float-right tappable class="explore-btn">
                <ion-icon name="paper"></ion-icon>
                Fill Mark(Eng.)
              </ion-button>
            </ion-row>
            <ion-row class="right-align">
              <ion-button icon-left size="medium" color="warning" (click)="pge_fillmarks_btnclick(slist,'math')" [disabled]="disable_fillmarks_button" float-right tappable class="explore-btn">
                <ion-icon name="paper"></ion-icon>
                Fill Mark(Math)
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card> -->
  </ion-grid>
</ion-content>
  