.shadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.014), 0 6px 6px rgba(0,0,0,0.21);
}

@keyframes green-to-white {
    0% {
        background: #4caf50;
        color: white;
    }
    100% {
        background: white;
        color: #4caf50;
    }
}

@keyframes white-to-green {
    0% {
        background: white;
        color: #4caf50;
    }
    100% {
        background: #4caf50;
        color: white;
    }
}


.green-bg {
    animation: white-to-green 0.6s;
    animation-fill-mode: forwards;
    color: white;
}

.white-bg {
    animation: green-to-white 0.6s;
    animation-fill-mode: forwards;
    color: #4caf50;
}


@keyframes FadeIn { 
    0% {
        opacity: 0;
        max-height: 0px;
        margin: 0px;
        padding: 0px;
    }

    100% {
        opacity: 1;
        max-height: 100px;
        margin: 10px;
        padding: 10px;
    }
}
@keyframes FadeOut {
    0% {
        opacity: 1;
        max-height: 100px;
        margin: 10px;
        padding: 10px;
    }
    100% {
        opacity: 0;
        max-height: 0px;
        margin: 0px;
        padding: 0px;
    }
}

.hidden {
    animation: FadeOut 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.reveal {
    animation-delay: 0.6s;
    animation: FadeIn 0.6s;
    animation-fill-mode: forwards;
}