<ion-content> 
  <ion-card>
<!-- Amount type -->
<ion-item no-padding class="">
    <ion-label>
      <ion-icon name="Amount" item-start></ion-icon>
      Type
    </ion-label>
    <ion-select (ionChange)="amount_type_onchange($event.detail.value)" interface="popover" placeholder="Select One">
      <ion-select-option value="annually">Annually</ion-select-option>
      <ion-select-option value="semi-annually">Semi annually</ion-select-option>
      <ion-select-option value="monthly">Monthly</ion-select-option>
    </ion-select>
  </ion-item>


    <ion-card-header color="warning">
      <ion-card-title>Make Payment</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <form [formGroup]="makepaymentFormGroup" >
          
          

          <!-- Amount -->
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <ion-icon name="Amount" item-start></ion-icon>
              Amount
            </ion-label>
            <ion-input color="secondary" type="number" formControlName="amount"></ion-input>
          </ion-item>

          <p ion-text class="text08" *ngIf="makepaymentFormGroup.get('amount').touched && makepaymentFormGroup.get('amount').hasError('required')">
            <ion-text color="danger">
              Invalid
            </ion-text>
          </p>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <ion-icon name="Remark" item-start></ion-icon>
              Remark
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="remark"></ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="makepaymentFormGroup.get('remark').touched && makepaymentFormGroup.get('remark').hasError('required')">
            <ion-text color="danger">
              Invalid
            </ion-text>
          </p>
        </form>
    </ion-card-content>

    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="medium" (click)="closeModal()">
              <ion-icon slot="start" name="close"></ion-icon> Cancel
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button icon-left color="success" (click)="makepayment()" [disabled]="!makepaymentFormGroup.valid" tappable>
              <ion-icon name="save"></ion-icon> Submit
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>