<ion-header  no-border [ngClass]="(toolbarshadow)?'':'shadow'">
  <ion-toolbar class='material-toolbar'>
    <ion-row>
        <ion-title class='page-title-absolute'><p>My Profile</p></ion-title>
        <ion-back-button></ion-back-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="explor()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-slides [options]='options'>
    <ion-slide class='full-width' (click)='module_select_onchange(m)' *ngFor='let m of allmodule_name'>
      <div class='full-width card-height card padding0 shadow'>
        <div class='hfc h100p'>
          <div class='h100p w40p blue-bg vfse'>
              <p class='data white'>{{m.modulename}}</p>
          </div>

          <div class='h100p w60p vfse'>
            <p>{{m.progress}}% completed</p>
            
            <div class='progressbarborder hfc full-width'>
              <div [style.flex-grow]='m.progress' style='height: 10px;background: #4caf50;flex-grow: 75'></div>
              <div [style.flex-grow]='100 - m.progress' style='height: 10px;background: lightgray;flex-grow: 25'></div>
            </div>
          </div>
        </div>

      </div>
    </ion-slide>
  </ion-slides>
  <!-- <div class='card shadow'>
    <div class='m10'>
      
      <p class='data-large'>Select Module:</p>
      <div class='vertical-flexbox full-width'>
        <div class='hfc full-width' *ngFor='let m of allmodule_name'>
          <div class='half-width'>
            <div (click)='module_select_onchange(m)' [ngClass]='(m.selected)?"selected-chip":"unselected-chip"'>
              <p class='data'>{{m.modulename}}</p>
            </div>
          </div>
          <div class='progressbarborder hfc half-width'>
            <div [style.flex-grow]='m.progress' style='height: 10px;background: #4caf50;flex-grow: 75'></div>
            <div [style.flex-grow]='100 - m.progress' style='height: 10px;background: lightgray;flex-grow: 25'></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='card shadow'>
    <div class='m10'>
      <p class='data-large'>Select Submodule:</p>
      <div class='vertical-flexbox full-width'>
        <div class='hfc full-width' *ngFor='let submodule of allsubmodule_list'>
          <div class='progressbarborder half-width'>
            <div class='hffs' (click)="submodule_click(submodule)">
              <p class='data'>{{submodule.submodulename}}</p>
            </div>
          </div>
          <div class='progressbarborder hfc half-width'>
            <div [style.flex-grow]='submodule.progress' style='height: 10px;background: #4caf50;flex-grow: 75'></div>
            <div [style.flex-grow]='100 - submodule.progress' style='height: 10px;background: lightgray;flex-grow: 25'></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <ion-card class="">
    <div class="card-margin">
      <ion-item class="radio-margin">
        <ion-label>Courses</ion-label>
        <ion-select [value]="init_module" interface="action-sheet" mode="ios" placeholder="Select One" (ionChange)="module_select_onchange($event.detail.value)" class="select-width">
          <ion-select-option *ngFor="let module of allmodule_list" value="{{module.moduleid}}">{{module.modulename}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="radio-margin">
        <div class="submodulelist">
          <ion-list>
            <ion-item *ngFor="let submodule of allsubmodule_list" (click)="submodule_click(submodule);">
              <ion-label><div>{{submodule.submodulename}}<ion-icon name="arrow-dropright" float-right></ion-icon></div></ion-label>
            </ion-item>
          </ion-list>
          
        </div>
      </ion-item>


    </div>
  </ion-card> -->
</ion-content>
  