<ion-header  no-border [ngClass]="(toolbarshadow)?'':'shadow'">
  <ion-toolbar>
    <ion-row>
      <ion-icon (click)='closeModal()' name='close' class="toolbar-buttons data-xlarge red"></ion-icon>
        <ion-title class='page-title'><p>Take Attendence</p></ion-title>
        <!-- <ion-back-button style="color: gray"></ion-back-button> -->
        <div class='toolbar-buttons'>
          <ion-icon (click)='save_attendace()' name='save' [style.color]='(unattended==0 && total!=0)?"#4caf50":"gray"' class="data-xlarge"></ion-icon>
          <p class='data-small' [style.color]='(unattended==0 && total!=0)?"#4caf50":"gray"'>Save</p>
        </div>
    </ion-row>
    <div *ngIf='errormessage==""'>
      <div class='data-xlarge hfse'>
          <p class='mb-0 gray'>{{unattended}}</p>
          <p class='mb-0 green'>{{present}}</p>
          <p class='mb-0 red' >{{absent}}</p>
        </div>
        <div class='data text-center gray hfse'>
          <p>Remaining</p>
          <p>Present</p>
          <p>Absent</p>
        </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- 
<div class="explore-div">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-text class="fw700 text25">
            {{ 'TAKEATTENDANCE.title' | translate}}
          </ion-text>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="medium" (click)="closeModal()">
          <ion-icon slot="start" name="close"></ion-icon> 
          {{ 'TAKEATTENDANCE.btn_cancel' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div> -->

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <p *ngIf='errormessage!=""' class='red data-large text-center'>{{errormessage}}</p>
  <div class='card shadow' *ngFor='let s of new_student_list' [ngClass]='s.bgclass'>
    <div class='card-padding hfsb'>
      <div [ngClass]='(s.selectionState == 0)?"gray-text":"white-text"'><p class='data-large'>{{s.detail.studentname}}</p></div>
      <div class='hfc'>
        <div (click)='setState(1, s)' [ngClass]='s.presentbutton'>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon [style.color]='(s.selectionState == 1)?"white":"#4caf50"' name='checkmark'></ion-icon>
        </div>
        <div (click)='setState(2, s)' [ngClass]='s.absentbutton'>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon [style.color]='(s.selectionState == 2)?"white":"#f44336"' name='close'></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
  